- m = status
%li.message
  = image_tag m.image, :class => 'avatar'
  .content
    - if m == current_user
      = form_for :status, :url => '#' do |f|
        = text_area_tag :body, "", :placeholder => "My current status"
        = submit_tag "Update"
    - else
      Lipsum Lipsum Lipsum Lipsum Lipsum Lipsum Lipsum Lipsum Lipsum 
      Lipsum Lipsum Lipsum Lipsum Lipsum Lipsum Lipsum Lipsum Lipsum 
