@import '_const';

#attendance {
  text-align: center;
  .decide {
    a {
      display: inline-block;
      margin: 0 10px;
      color: black;
      font-weight:bold;
      font-size: 150%;
    }
  }

  .decide.inactive { display: none; }
}

#details {
  overflow: hidden;
}

.column {
  float: left;
  width: 290px;
  overflow: hidden;
  margin-right: 45px;
}

#upcoming.column {
  margin-right: 0;
}

#messages {
  form {
    margin-top: @padding;
  }

  textarea {
    height: 48px;
  }
}

#projects {
  li {
    margin-bottom: @padding;
  }

  .title {
    font-size: @bigger;
  }

  .meta {
    .button {
      float: right;
    }
  }

  #suggest_project {
    display: block;
    margin-top: 1em;
  }
  
  #links {
    li { margin: 0; }
  }
  
  h2 { margin-top: @padding; }
  #statuses {
    textarea {
      width: 210px;
      height: 37px;
    }
  }
}

#upcoming {
  h2 { margin-top: @padding; }

  .project {
    font-size: @bigger;
  }

  ul.agenda {
    margin-top: @padding;

    li {
      margin-bottom: @padding;
    }

    li li {
      margin-left: @padding;
      margin-bottom: 0;
    }
  }
}
