form {
  overflow: hidden;

  .input {
    margin: 0 0 20px;
    label {
      display: block;
    }

    input {
      border: 1px solid #ddd;
      font-size: 16px;
      padding: 3px 5px;
    }
  }
  
  .buttons {
    margin: 20px 0 0;
  }
  
  .error {
    color: #f00;
    padding-left: 10px;
  }
  
  .hint {
    color: #888;
    font-size: 75%;
    display: block;
  }
  
  textarea {
    width: 390px;
    border: 1px solid #ddd;
  }
  textarea.full { width: 900px; }
}
