%li
  .title= link_to project.name, project
  .descr= project.description.to_s.truncate(200)
  .meta
    = link_to "Join", '#', :class => "button"
    Members: <em>3</em>
    Slots: <em>#{project.slots}</em>
