#header
  #menu
    = link_to "Dashboard", root_path

    - if user_signed_in?
      = link_to "Sign out", destroy_user_session_path
      %strong [#{current_user}]
    - else
      = link_to "Sign in", '/auth/twitter'
